body{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: yellow;
}

/* Container for Login, Register, and Home */
.container {
  background: white;
  padding: 20px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(204, 8, 8, 0.785);
  text-align: center;
 margin-left: auto;
 margin-right: auto;
 margin-top: 20px;
}

/* Input Fields */
input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #818181;
  border-radius: 5px;
  font-size: 16px;
}

/* Buttons */
button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffd000;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #e706dbd4;
}